<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>LulTech</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
   <style th:inline="text">
body{
    background: url([[@{/img/tech2.png}]])
                no-repeat center center fixed;
                background-size: 100%;
}
</style>
  </head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-light mt-1"
			style="background-color: #E9ECEF;">
			<a class="navbar-brand" href="#">LulTech</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/index}">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/employee}">Employee Profile</a></li>
				<li class="nav-item active"><a class="nav-link"
						th:href="@{/payroll}">Payroll</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</nav>
		
		<div class="jumbotron bg-light border mt-3 py-4" style="min-height: 450px;">
   	<form class=center th:action="payroll" th:object="${/timesheet}" method="POST">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Enter Your Employee Id</label>
    <div class="col-sm-10 ">
     <input type="text" class="form-control" name="idEmp" placeholder="Employee Id" required>
      </div>
    <label for="staticEmail" class="col-sm-2 col-form-label">Date From</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" th:value="${timesheet?.datefrom}">
      </div>
    <label for="staticEmail" class="col-sm-2 col-form-label">Date To</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" th:value="${timesheet?.dateto}">
      </div>
    <label for="staticEmail" class="col-sm-2 col-form-label">Total hours</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" th:value="${timesheet?.hours}">
      </div>
      <label for="staticEmail" class="col-sm-2 col-form-label">Monthly pay</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" th:value="${timesheet?.getsalary}">
      </div>
      <button type="submit" class="btn btn-primary mt-2" style="min-width: 100px">Show monthly payment</button>
    </div>
    </form>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" Integrity= "sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>